/*
 * Copyright © 2025 Qiantong Technology Co., Ltd.
 * qData Data Middle Platform (Open Source Edition)
 *  *
 * License:
 * Released under the Apache License, Version 2.0.
 * You may use, modify, and distribute this software for commercial purposes
 * under the terms of the License.
 *  *
 * Special Notice:
 * All derivative versions are strictly prohibited from modifying or removing
 * the default system logo and copyright information.
 * For brand customization, please apply for brand customization authorization via official channels.
 *  *
 * More information: https://qdata.qiantong.tech/business.html
 */

import request from '@/utils/request'

// 查询${functionName}列表
export function list${BusinessName}(query) {
  return request({
    url: '/${controllerPrefix}/${businessName}/list',
    method: 'get',
    params: query
  })
}

// 查询${functionName}详细
export function get${BusinessName}(${pkColumn.javaField}) {
  return request({
    url: '/${controllerPrefix}/${businessName}/' + ${pkColumn.javaField},
    method: 'get'
  })
}

// 新增${functionName}
export function add${BusinessName}(data) {
  return request({
    url: '/${controllerPrefix}/${businessName}',
    method: 'post',
    data: data
  })
}

// 修改${functionName}
export function update${BusinessName}(data) {
  return request({
    url: '/${controllerPrefix}/${businessName}',
    method: 'put',
    data: data
  })
}

// 删除${functionName}
export function del${BusinessName}(${pkColumn.javaField}) {
  return request({
    url: '/${controllerPrefix}/${businessName}/' + ${pkColumn.javaField},
    method: 'delete'
  })
}
