/*
 * Copyright © 2025-present Jiangsu Qiantong Technology Co., Ltd.
 *
 * This file is part of qData Data Middle Platform (Open Source Edition).
 *
 * qData is licensed under Apache License 2.0 with additional qData terms.
 * You may use qData for commercial purposes, but you may not remove, hide,
 * modify, or replace the qData logo, copyright notices, license notices,
 * or attribution information without a separate commercial license.
 *
 * White-label use, OEM distribution, rebranding, or presenting qData as
 * another product requires separate commercial authorization from
 * Jiangsu Qiantong Technology Co., Ltd.
 *
 * Business License: https://community.qdata.tech/business/policy.html
 * See the LICENSE file in the project root for full license information.
 */

package ${packageName}.service;

import java.util.List;
import com.baomidou.mybatisplus.extension.service.IService;
import ${packageName}.domain.${ClassName};

/**
 * ${functionName}Service interface
 *
 * @author ${author}
 * @date ${datetime}
 */
public interface I${ClassName}Service extends IService<${ClassName}> {
    /**
     * Query ${functionName}
     *
     * @param ${pkColumn.javaField} ${functionName} primary key
     * @return ${functionName}
     */
    public ${ClassName} select${ClassName}By${pkColumn.capJavaField}(${pkColumn.javaType} ${pkColumn.javaField});

    /**
     * Query ${functionName} list
     *
     * @param ${className} ${functionName}
     * @return ${functionName} collection
     */
    public List<${ClassName}> select${ClassName}List(${ClassName} ${className});

    /**
     * Add ${functionName}
     *
     * @param ${className} ${functionName}
     * @return result
     */
    public int insert${ClassName}(${ClassName} ${className});

    /**
     * Modify ${functionName}
     *
     * @param ${className} ${functionName}
     * @return result
     */
    public int update${ClassName}(${ClassName} ${className});

    /**
     * Delete ${functionName} in batches
     *
     * @param ${pkColumn.javaField}s ${functionName} primary key collection that needs to be deleted
     * @return result
     */
    public int delete${ClassName}By${pkColumn.capJavaField}s(${pkColumn.javaType}[] ${pkColumn.javaField}s);

    /**
     * Delete ${functionName} information
     *
     * @param ${pkColumn.javaField} ${functionName} primary key
     * @return result
     */
    public int delete${ClassName}By${pkColumn.capJavaField}(${pkColumn.javaType} ${pkColumn.javaField});
}
