/*
 * Copyright © 2025-present Jiangsu Qiantong Technology Co., Ltd.
 *
 * This file is part of qData Data Middle Platform (Open Source Edition).
 *
 * qData is licensed under Apache License 2.0 with additional qData terms.
 * You may use qData for commercial purposes, but you may not remove, hide,
 * modify, or replace the qData logo, copyright notices, license notices,
 * or attribution information without a separate commercial license.
 *
 * White-label use, OEM distribution, rebranding, or presenting qData as
 * another product requires separate commercial authorization from
 * Jiangsu Qiantong Technology Co., Ltd.
 *
 * Business License: https://community.qdata.tech/business/policy.html
 * See the LICENSE file in the project root for full license information.
 */

package ${packageName}.convert.${moduleName};

import java.util.List;
import org.mapstruct.Mapper;
import org.mapstruct.factory.Mappers;
import ${packageName}.controller.admin.${moduleName}.vo.${ClassName}PageReqVO;
import ${packageName}.controller.admin.${moduleName}.vo.${ClassName}RespVO;
import ${packageName}.controller.admin.${moduleName}.vo.${ClassName}SaveReqVO;
import ${packageName}.dal.dataobject.${moduleName}.${ClassName}DO;
#if($table.sub)
import ${packageName}.domain.${subClassName};
#end

/**
 * ${functionName} Convert
 *
 * @author ${author}
 * @date ${datetime}
 */
@Mapper
public interface ${ClassName}Convert {
    ${ClassName}Convert INSTANCE = Mappers.getMapper(${ClassName}Convert.class);

    /**
     * PageReqVO converted to DO
     * @param ${className}PageReqVO request parameters
     * @return ${ClassName}DO
     */
     ${ClassName}DO convertToDO(${ClassName}PageReqVO ${className}PageReqVO);

    /**
     * SaveReqVO converted to DO
     * @param ${className}SaveReqVO Save request parameters
     * @return ${ClassName}DO
     */
     ${ClassName}DO convertToDO(${ClassName}SaveReqVO ${className}SaveReqVO);

    /**
     * DO to RespVO
     * @param ${className}DO entity object
     * @return ${ClassName}RespVO
     */
     ${ClassName}RespVO convertToRespVO(${ClassName}DO ${className}DO);

    /**
     * DOList to RespVOList
     * @param ${className}DOList entity object list
     * @return List<${ClassName}RespVO>
     */
     List<${ClassName}RespVO> convertToRespVOList(List<${ClassName}DO> ${className}DOList);
}
