# Copyright © 2025 Qiantong Technology Co., Ltd.
# qData Data Middle Platform (Open Source Edition)
#  
# License:
# Released under the Apache License, Version 2.0.
# You may use, modify, and distribute this software for commercial purposes
# under the terms of the License.
#  
# Special Notice:
# All derivative versions are strictly prohibited from modifying or removing
# the default system logo and copyright information.
# For brand customization, please contact the official team for authorization.
#  
# More information: https://qdata.qiantong.tech/business.html
#  
# ============================================================================
#  
# 版权所有 © 2025 江苏千桐科技有限公司
# qData 数据中台（开源版）
#  
# 许可协议：
# 本项目基于 Apache License 2.0 开源协议发布，
# 允许在遵守协议的前提下进行商用、修改和分发。
#  
# 特别说明：
# 所有衍生版本不得修改或移除系统默认的 LOGO 和版权信息；
# 如需定制品牌，请通过官方渠道申请品牌授权。
#  
# 更多信息请访问：https://qdata.qiantong.tech/business.html

version: "3.8"

services:
  # qdata 后端服务
  qdata-api:
    image: qiantong/qdata:${QDATA_VERSION}
    restart: always
    profiles: [ "all" ]
    env_file: .env
    environment:
      - TZ=Asia/Shanghai
#    ports:
#      - "8080:8080"
    mac_address: 28-C5-D2-B7-FC-F5
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./qdata-server/logs:/usr/app/jar/logs
      - ./qdata-server/upload:/usr/app/jar/upload
      - ./qdata-server/application-prod.yml:/usr/app/jar/application-prod.yml
    depends_on:
      redis:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
      dm8:
        condition: service_healthy
    networks:
      - qdatanet

  # qdata 质控服务
  qdata-quality:
    image: qiantong/qdata-quality:${QDATA_VERSION}
    restart: always
    profiles: [ "all" ]
    env_file: .env
    environment:
      - TZ=Asia/Shanghai
#    ports:
#      - "8083:8083"
    mac_address: 28-C5-D2-B7-FC-F6
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./qdata-quality/logs:/usr/app/jar/logs
      - ./qdata-quality/job-log:/usr/app/jar/job-log
      - ./qdata-quality/application-prod.yml:/usr/app/jar/application-prod.yml
    depends_on:
      redis:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
      dm8:
        condition: service_healthy
      mongodb:
        condition: service_healthy
    networks:
      - qdatanet
