# Copyright © 2025 Qiantong Technology Co., Ltd.
# qData Data Middle Platform (Open Source Edition)
#
# License:
# Released under the Apache License, Version 2.0.
# You may use, modify, and distribute this software for commercial purposes
# under the terms of the License.
#
# Special Notice:
# All derivative versions are strictly prohibited from modifying or removing
# the default system logo and copyright information.
# For brand customization, please apply for brand customization authorization via official channels.
#
# More information: https://qdata.qiantong.tech/business.html
#
# ============================================================================
#
# 版权所有 © 2025 江苏千桐科技有限公司
# qData 数据中台（开源版）
#
# 许可协议：
# 本项目基于 Apache License 2.0 开源协议发布，
# 允许在遵守协议的前提下进行商用、修改和分发。
#
# 特别说明：
# 所有衍生版本不得修改或移除系统默认的 LOGO 和版权信息；
# 如需定制品牌，请通过官方渠道申请品牌定制授权。
#
# 更多信息请访问：https://qdata.qiantong.tech/business.html

version: "3.8"

services:
  mysql57:
    image: mysql:8.0
    profiles: [ "demo", "mysql" ]
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: "sfdjfFF#s2332"
      TZ: "Asia/Shanghai"
#    ports:
#      - "3306:3306"
    volumes:
      - ./demo/mysql/conf.d/my.cnf:/etc/mysql/conf.d/my.cnf:ro
      - ./demo/mysql/init:/docker-entrypoint-initdb.d:ro
    networks:
      qdatanet:
        ipv4_address: 172.28.10.1

  oracle11g:
    image: wnameless/oracle-xe-11g-r2
    profiles: [ "demo", "oracle" ]
    environment:
      - TZ=Asia/Shanghai
      - ORACLE_ALLOW_REMOTE=true
      - ORACLE_PASSWORD=Your!Str0ngPass
      - NLS_LANG=AMERICAN_AMERICA.AL32UTF8
#    ports:
#      - "1521:1521"
    volumes:
      - ./demo/oracle/seed.sql:/docker-entrypoint-initdb.d/seed.sql:ro
    networks:
      - qdatanet

  dm8-demo:
    image: dm8:dm8_20250506_x86_rh7_64
    profiles: [ "demo", "dm8-demo" ]
    env_file: .env
    privileged: true
    restart: always
#    ports:
#      - "15236:5236"
    volumes:
      - ./demo/dm8/init-qdata.sql:/home/dmdba/initdata/init-qdata.sql
      - ./demo/dm8/entrypoint.sh:/entrypoint.sh
    environment:
      - TZ=${TZ}
      - CASE_SENSITIVE=${CASE_SENSITIVE}
      - SYSDBA_PWD=${SYSDBA_PWD}
      - SYSAUDITOR_PWD=${SYSAUDITOR_PWD}
      - QDATA_USER=${DEMO_USER}
      - QDATA_PWD=${DEMO_PWD}
    healthcheck:
      test: [ "CMD-SHELL", "echo > /dev/tcp/127.0.0.1/5236" ]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 20s
    networks:
      - qdatanet

  kingbase:
    image: kingbase_v009r001c002b0014_single_x86:v1
    profiles: [ "demo", "kingbase" ]
    env_file: .env
    restart: always
    privileged: true
    user: kingbase
    working_dir: /home/kingbase
    entrypoint: ["/bin/bash", "/home/kingbase/docker-entrypoint.sh"]
    environment:
      NEED_START: "yes"
      ENABLE_CI: "yes"
      DB_USER: "qdata_dev"
      DB_MODE: "mysql"
      PATH: "/usr/local/bin:/bin:/usr/bin:/usr/local/sbin:/usr/sbin:/home/kingbase/install/kingbase/bin:"
      USER: "kingbase"
      PASSWORD: "qdata_dev"
#    ports:
#      - "54321:54321"
    # volumes:
    #   - /data/kingbase:/home/kingbase/userdata:rw
    networks:
      - qdatanet
    security_opt:
      - label=disable
