# Copyright © 2025 Qiantong Technology Co., Ltd.
# qData Data Middle Platform (Open Source Edition)
#
# License:
# Released under the Apache License, Version 2.0.
# You may use, modify, and distribute this software for commercial purposes
# under the terms of the License.
#
# Special Notice:
# All derivative versions are strictly prohibited from modifying or removing
# the default system logo and copyright information.
# For brand customization, please apply for brand customization authorization via official channels.
#
# More information: https://qdata.qiantong.tech/business.html
#
# ============================================================================
#
# 版权所有 © 2025 江苏千桐科技有限公司
# qData 数据中台（开源版）
#
# 许可协议：
# 本项目基于 Apache License 2.0 开源协议发布，
# 允许在遵守协议的前提下进行商用、修改和分发。
#
# 特别说明：
# 所有衍生版本不得修改或移除系统默认的 LOGO 和版权信息；
# 如需定制品牌，请通过官方渠道申请品牌定制授权。
#
# 更多信息请访问：https://qdata.qiantong.tech/business.html

version: "3.8"

services:
  redis:
    image: redis:6-alpine
    profiles: ["all", "local"]
    env_file: .env
    restart: always
    environment:
      REDISCLI_AUTH: ${REDIS_PASSWORD:-J98%FHF#9h@e88h9fre9}
#    volumes:
#      # Mount the redis data directory to the container.
#      - ./redis/data:/data
    # Set the redis password when startup redis server.
    command: redis-server --requirepass ${REDIS_PASSWORD:-J98%FHF#9h@e88h9fre9}
    ports:
      - "${EXPOSE_REDIS_PORT:-6379}:6379"
    healthcheck:
      test: [ 'CMD', 'redis-cli', 'ping' ]
    networks:
      - qdatanet

  rabbitmq:
    image: rabbitmq:3.12-management
    restart: always
    ports:
      - 5672:5672
      - 15672:15672
    healthcheck:
      test: [ "CMD-SHELL", "rabbitmq-diagnostics -q ping" ]
      interval: 10s
      timeout: 5s
      retries: 5
    profiles: ["all", "local"]
    env_file: .env
    environment:
#      - RABBITMQ_DEFAULT_USER=${RABBITMQ_DEFAULT_USER}
#      - RABBITMQ_DEFAULT_PASS=${RABBITMQ_DEFAULT_PASS}
      - WORKER_GROUPS=default
    volumes:
      - ./rabbitmq/definitions.json:/etc/rabbitmq/definitions.json:ro
      - ./rabbitmq/rabbitmq.conf:/etc/rabbitmq/rabbitmq.conf:ro
    networks:
      - qdatanet

  nginx:
    image: nginx:1.24.0
    restart: always
    profiles: [ "all" ]
    env_file: .env
    ports:
      - '${EXPOSE_NGINX_PORT:-80}:${NGINX_PORT:-80}'
    networks:
      - qdatanet
    volumes:
      - ./nginx/dist:/usr/share/nginx
      - ./nginx/logs:/var/log/nginx
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/sites/:/etc/nginx/http_vhost/:ro

  mysql:
    privileged: true
    image: mysql:5.7
    container_name: mysql
    restart: always
    profiles: [ "all", "schema", "local", "qdata-mysql" ]
    env_file: .env
    environment:
      TZ: ${TZ}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD:-o5KjnPYxswsiURZHCPwd}
      MYSQL_DATABASE: ${MYSQL_DATABASE:-qdata}
      MYSQL_USER: ${MYSQL_USER:-qdata}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD:-o5KjnPYxswsiURZHCPwd}
    command: --lower_case_table_names=1
    ports:
      - "3306:3306"
    volumes:
      #      #挂载数据库
      #      - ./mysql/data:/var/lib/mysql
      #挂载配置文件
      - ./database/mysql/conf.d:/etc/mysql/conf.d
      # 如需初始化 SQL：
      - ./database/mysql/init:/docker-entrypoint-initdb.d:ro
    healthcheck:
      test: [ "CMD","mysqladmin","ping","-h","127.0.0.1","-po5KjnPYxswsiURZHCPwd" ]
      interval: 10s
      timeout: 5s
      retries: 10
    networks:
      - qdatanet

  mongodb:
    container_name: mongodb
    restart: always
    profiles: [ "all", "schema", "local"  ]
    env_file: .env
    image: mongo:4.4
    ports:
      - 27017:27017
#    volumes:
#      - ./database/mongoDB:/data/db
    environment:
#      MONGO_INITDB_DATABASE: ${MONGO_INITDB_DATABASE}
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
    healthcheck:
      test: ["CMD", "mongo", "--eval", "db.adminCommand('ping')"]
      interval: 30s
      retries: 3
      start_period: 30s
      timeout: 10s
    networks:
      - qdatanet
