# Copyright © 2025 Qiantong Technology Co., Ltd.
# qData Data Middle Platform (Open Source Edition)
#
# License:
# Released under the Apache License, Version 2.0.
# You may use, modify, and distribute this software for commercial purposes
# under the terms of the License.
#
# Special Notice:
# All derivative versions are strictly prohibited from modifying or removing
# the default system logo and copyright information.
# For brand customization, please apply for brand customization authorization via official channels.
#
# More information: https://qdata.qiantong.tech/business.html
#
# ============================================================================
#
# 版权所有 © 2025 江苏千桐科技有限公司
# qData 数据中台（开源版）
#
# 许可协议：
# 本项目基于 Apache License 2.0 开源协议发布，
# 允许在遵守协议的前提下进行商用、修改和分发。
#
# 特别说明：
# 所有衍生版本不得修改或移除系统默认的 LOGO 和版权信息；
# 如需定制品牌，请通过官方渠道申请品牌定制授权。
#
# 更多信息请访问：https://qdata.qiantong.tech/business.html

version: "3.8"

services:
  namenode:
    image: apache/hadoop:3.3.6
    hostname: namenode
    restart: always
    profiles: [ "all" , "hadoop" , "local" ]
#    ports:
#      - "9870:9870"       # NameNode Web UI
#      - "8020:8020"       # HDFS RPC
#      - "9000:9000"
    env_file: .env
    environment:
      ENSURE_NAMENODE_DIR: "/tmp/hadoop-root/dfs/name"
    command: [ "hdfs", "namenode" ]
    networks:
      - qdatanet

  datanode:
    image: apache/hadoop:3.3.6
    hostname: datanode
    restart: always
    profiles: [ "all" , "hadoop" , "local" ]
#    ports:
#      - "9864:9864"
#      - "9866:9866"
#      - "9867:9867"
    env_file: .env
    command: >
      /bin/bash -c "
        hdfs datanode &
        sleep 10 &&
        hdfs dfs -mkdir -p /tmp/etl &&
        hdfs dfs -chmod -R 777 / &&
        tail -f /dev/null
      "
    user: "1000:1000"
    networks:
      - qdatanet
#    volumes:
#      - ./hadoop/data:/data/dfs #挂载数据

  resourcemanager:
    image: apache/hadoop:3.3.6
    hostname: resourcemanager
    restart: always
    profiles: [ "all" , "hadoop" , "local" ]
#    ports:
#      - "8088:8088"       # YARN Web UI
    env_file: .env
    command: [ "yarn", "resourcemanager" ]
    networks:
      - qdatanet

  nodemanager:
    image: apache/hadoop:3.3.6
    hostname: nodemanager
    env_file: .env
    restart: always
    profiles: [ "all" , "hadoop" , "local" ]
    command: [ "yarn", "nodemanager" ]
    networks:
      - qdatanet
