version: "1.1.9"

services:
  fe:
    image: apache/doris:fe-2.1.8
    profiles: [ "demo" , "doris" ]
    hostname: fe
    volumes:
      - ./demo/doris/fe.conf:/opt/apache-doris/fe/conf/fe.conf
    environment:
      - FE_SERVERS=fe1:127.0.0.1:9010
      - FE_ID=1
    network_mode: host
  be:
    image: apache/doris:be-2.1.8
    profiles: [ "demo", "doris" ]
    hostname: be
    volumes:
      - ./demo/doris/init.sql:/docker-entrypoint-initdb.d/init.sql
    environment:
      - FE_SERVERS=fe1:127.0.0.1:9010
      - BE_ADDR=127.0.0.1:9050
    depends_on:
      - fe
    network_mode: host

  # 初始化脚本命令
#    docker run --rm -it \
#    --network host \
#    -v $(pwd)/demo/doris/init.sql:/init/init.sql \
#    mysql:5.7 \
#    bash -c "
#    echo 'waiting for FE (127.0.0.1:9030)...';
#    until mysqladmin ping -h127.0.0.1 -P9030 --silent; do
#    sleep 2;
#    done;
#    echo 'FE is ready, running init.sql';
#    mysql -h127.0.0.1 -P9030 -uroot -pInC3tmU4bijT4vkl < /init/init.sql
#    "

  mysql57:
    image: mysql:5.7
    profiles: [ "demo", "mysql" ]
    container_name: mysql57
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: "sfdjfFF#s2332"   # ← 修改成你的
      TZ: "Asia/Shanghai"                          # 如需改时区请改
    ports:
      - "3306:3306"
    volumes:
      - ./demo/mysql/conf.d/my.cnf:/etc/mysql/conf.d/my.cnf:ro
      - ./demo/mysql/init:/docker-entrypoint-initdb.d:ro
    networks:
      qdatanet:
        ipv4_address: 172.28.10.1

  hive:
    image: apache/hive:3.1.3
    profiles: [ "demo", "hive" ]
    container_name: hive313
    hostname: hive
    environment:
      SERVICE_NAME: hiveserver2
    ports:
      - "10000:10000"   # JDBC / Beeline
      - "10002:10002"   # Web UI
    networks:
      - qdatanet

#  实例名：xe
#  账户：system
#  密码：oracle

#  客户端连接（以 PDB/SID 为 XE）：
#  主机：localhost
#  端口：1521
#  演示库用户：DEMO / Demo!1234Ab
#  连接串（SQL*Plus）：sqlplus DEMO/Demo!1234Ab@localhost:1521/XE
  oracle11g:
    image: wnameless/oracle-xe-11g-r2
    profiles: [ "demo", "oracle" ]
    container_name: oracle11g-1
    environment:
      - TZ=Asia/Shanghai
      - ORACLE_ALLOW_REMOTE=true
      - ORACLE_PASSWORD=Your!Str0ngPass
      - NLS_LANG=AMERICAN_AMERICA.AL32UTF8
    ports:
      - "1521:1521"
    volumes:
      - ./demo/oracle/seed.sql:/docker-entrypoint-initdb.d/seed.sql:ro
    networks:
      - qdatanet

  ftp:
    privileged: true
    profiles: [ "demo", "ftp" ]
    hostname: ftp
    image: fauria/vsftpd:latest
    restart: always
    ports:
      - "20:20"
      - "21:21"
      - "40031-40035:40031-40035"
    environment:
      - TZ=Asia/Shanghai
      - FTP_USERE=admin
      - FTP_PASS=InC3tmU4bijT4vkl
      - PASV_ADDRESS=172.21.54.53 # 设置被动模式地址为172.0.16.143（必须是服务器公网IP或可访问地址）
      - PASV_MIN_PORT=40031  # 设置被动模式最小端口为40031
      - PASV_MAX_PORT=40035  # 设置被动模式最大端口为40035
      - PASV_PROMISCUOUS=yes  # 允许被动模式端口不匹配（在NAT/防火墙后使用）
      - PORT_PROMISCUOUS=yes   # 允许主动模式端口不匹配（在复杂网络环境中使用）
    network_mode: host

  kafka:
    image: bitnami/kafka:3.6
    profiles: [ "demo", "kafka" ]
    ports:
      - "9092:9092"        # 内部通信端口
      - "9093:9093"        # KRaft 控制器端口
      - "9094:9094"       # 新增：外部访问端口映射（主机40025 → 容器9094）
    environment:
      - KAFKA_CFG_PROCESS_ROLES=broker,controller
      - KAFKA_CFG_NODE_ID=1
      - KAFKA_CFG_CONTROLLER_QUORUM_VOTERS=1@kafka:9093
      # 添加 EXTERNAL 监听器（绑定到9094）
      - KAFKA_CFG_LISTENERS=PLAINTEXT://0.0.0.0:9092,CONTROLLER://0.0.0.0:9093,EXTERNAL://0.0.0.0:9094
      # 修正广告地址（EXTERNAL 使用公网IP:40025）
      - KAFKA_CFG_ADVERTISED_LISTENERS=PLAINTEXT://kafka:9092,EXTERNAL://kafka:9094
      # 映射 EXTERNAL 的安全协议
      - KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP=PLAINTEXT:PLAINTEXT,CONTROLLER:PLAINTEXT,EXTERNAL:PLAINTEXT
      - KAFKA_CFG_INTER_BROKER_LISTENER_NAME=PLAINTEXT
      - KAFKA_CFG_CONTROLLER_LISTENER_NAMES=CONTROLLER
      - ALLOW_PLAINTEXT_LISTENER=yes
    networks:
      - qdatanet

  dm8-demo:
    image: dm8:dm8_20250506_x86_rh7_64
    profiles: [ "demo", "dm8-demo" ]
    env_file: .env
    privileged: true
    restart: always
    ports:
      - "15236:5236"
    volumes:
      - ./demo/dm8/init-qdata.sql:/home/dmdba/initdata/init-qdata.sql
      - ./demo/dm8/entrypoint.sh:/entrypoint.sh
    environment:
      - TZ=${TZ}
      - CASE_SENSITIVE=${CASE_SENSITIVE}
      - SYSDBA_PWD=${SYSDBA_PWD}
      - SYSAUDITOR_PWD=${SYSAUDITOR_PWD}
      - QDATA_USER=${DEMO_USER}
      - QDATA_PWD=${DEMO_PWD}
    healthcheck:
      test: [ "CMD-SHELL", "echo > /dev/tcp/127.0.0.1/5236" ]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 20s
    networks:
      - qdatanet
